<app-menu-bar></app-menu-bar>

<section class="row container-fluid gradient-custom-2" id="features">

    <div class="feature-box">

        <div class="outer">
            <div class="inner">
                <h3><b>ADMIN UPDATE PASSWORD</b></h3>
            </div>
        </div>

        <form [formGroup]="form3" (ngSubmit)="updatePassword()">

            <div class="form-outline mb-4 box1">
                <h6>Enter email : </h6>
                <input type="text" name="email" [(ngModel)]="login.email" class="form-control" formControlName="email">

                <div *ngIf="form3.get('email').touched">

                    <!-- 
                <div *ngIf="form3.get('email').hasError('required') && form3.get('email').touched && form3.get('email').pristine"
                    class="alert alert-danger">

                    Please Enter email

                </div> -->

                    <div *ngIf="form3.get('email').invalid && form3.get('email').dirty" class="alert alert-danger">

                        Please Enter Correct Email Address

                    </div>
                </div>
            </div>


            <div class="form-outline mb-4 box2">
                <h6>Enter new password : </h6>
                <input type="password" name="password" [(ngModel)]="login.password" class="form-control"
                    formControlName="password">

                <div *ngIf="form3.get('password').touched">

                    <div *ngIf="form3.get('password').hasError('required')" class="alert alert-danger">

                        Please Enter password

                    </div>

                </div>

            </div>

            <div class="form-outline mb-4 box2">
                <h6>Confirm new password : </h6>
                <input type="password" name="conPassword" [(ngModel)]="conPassword" class="form-control"
                    formControlName="conPassword">

                <div *ngIf="form3.get('password').touched">

                    <div *ngIf="form3.get('password').hasError('required')" class="alert alert-danger">

                        Please Enter password

                    </div>

                    <div *ngIf="login.password!=conPassword" class="alert alert-danger">

                        Please Enter the same password

                    </div>

                </div>


            </div>
            <div class="text-center pt-1 mb-5 pb-1">
                <button type="submit" class="btn btn-block fa-lg gradient-custom-2 mb-3 log-in">SUBMIT</button>
            </div>
        </form>
    </div>
</section>