<app-menu-bar></app-menu-bar>

  <section class="no-color-background container-fluid" id="pricing">

    <h2 class="outer">Welcome</h2>
    <p class="outer">Simple and easy process but one at a time.</p>

    <div class="row">
      <div class="pricing-col col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 >Add Question</h3>
          </div>
          <div class="card-body">
            
            <p>Add and upload the questions here.</p>

            <button routerLink='/add_question' class="btn btn-lg btn-outline-dark card-btn" type="button">Add</button>
          </div>
        </div>
      </div>
      <div class="pricing-col col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Remove Question</h3>
          </div>
          <div class="card-body">
            
            <p>Click here to remove the questions.</p>

            <button routerLink='/remove_question' class="btn btn-lg bg-danger text-light card-btn" type="button" >Remove</button>
          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Search Students</h3>
          </div>
          <div class="card-body">
            
            <p>Click here to Search students.</p>

            <button routerLink='/search_students' class="btn btn-lg bg-dark text-light card-btn" type="button">Search</button>
          </div>
        </div>
      </div>

    </div>

  </section>






<!-- <app-menu-bar></app-menu-bar>


  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Add/Remove Question Section</h5>
      <p class="card-text">You can add and remove questions for any particular course and level.</p><br>
        <a href="add_question" class="btn btn-primary">Add Question</a>&nbsp;&nbsp;
        <a href="remove_question" class="btn btn-danger">Remove Question</a>
    </div>    
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Search Student</h5>
      <p class="card-text">You can search students who previously gave exam<br>
        <br></p>
        <a href="search_students" class="btn btn-primary">View Students</a>
    </div>    
  </div> -->
