<app-menu-bar></app-menu-bar>

<section class="back">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4">
                <div class="square">
                    <div class="content">
                        <img id="java" src="assets/images/java.png" alt="Java image">
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-block fa-lg mb-3 log-in" value="java"
                            (click)="selection(101)">Start</button>
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="square">
                    <div class="content">
                        <img id="python" src="assets/images/python.png" alt="">
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-block fa-lg mb-3 log-in" value="python"
                            (click)="selection(102)">Start</button>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="square">
                    <div class="content">
                        <img id="php" src="assets/images/php.png" alt="">
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-block fa-lg mb-3 log-in" value="php"
                            (click)="selection(103)">Start</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="square">
                    <div class="content">
                        <img id="net" src="assets/images/net.png" alt="">
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-block fa-lg mb-3 log-in" value="dotnet"
                            (click)="selection(104)">Start</button>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="square">
                    <div class="content">
                        <img id="c" src="assets/images/c2.png" alt="">
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-block fa-lg mb-3 log-in" value="c"
                            (click)="selection(105)">Start</button>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="square">
                    <div class="content">
                        <img id="cplus" src="assets/images/cplus.png" alt="">
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-block fa-lg mb-3 log-in" value="c++"
                            (click)="selection(106)">Start</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>